.logo {
    display: flex;
    align-items: center;
    gap: 6px;
    height: 100%;
}

.logoImg {
    height: 100%;
}

.logoText {
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 0.15rem;
    color: var(--color);
    text-decoration: #888888 underline;
}