.toggle {
    padding: 5px;
}

.toggleTitle {
    display: flex;
    align-items: center;
}

.triangle {
    transition: transform 0.4s;
    transform: rotate(-90deg);
}

details[open]>summary>.triangle {
    transform: rotate(0deg);
}