.grid {
    min-height: 100vh;
    display: grid;
    grid-template-rows: var(--grid-template-rows);
    grid-template-columns: var(--grid-template-columns);
    row-gap: 19px;
    column-gap: 12px;
}

.header {
    grid-row: 1/2;
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    background-color: var(--main-bg-color);
    padding: 12px;
    box-shadow: var(--shadow);
}

.main {
    grid-row: -3/-2;
    grid-column: 2/3;
    background-color: var(--main-bg-color);
    border-radius: 12px;
    padding: 12px;
    box-shadow: var(--shadow);
    overflow-wrap: break-word;
}

.onlyMain {
    grid-row: 2/-2;
    grid-column: 2/-2;
    background-color: var(--main-bg-color);
    border-radius: 12px;
    padding: 12px;
    box-shadow: var(--shadow);
    overflow-wrap: break-word;
}

.rside {
    grid-row: 2/3;
    grid-column: -3/-2;
}

.rsideSticky {
    position: sticky;
    top: 20px;
    max-height: 70vh;
    overflow-y: scroll;
    background-color: var(--main-bg-color);
    border-radius: 12px;
    padding: 12px;
    box-shadow: var(--shadow);
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-wrap: break-word;
}

.rsideSticky::--webkit-scrollbar {
    display: none;
}

.summary {
    display: flex;
    align-items: center;
}

.triangle {
    transition: transform 0.4s;
    transform: rotate(-90deg);
}

details[open] .triangle {
    transform: rotate(0deg);
}

.footer {
    grid-row: -2/-1;
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    padding: 12px;
    background-color: var(--main-bg-color);
    box-shadow: var(--shadow);
}