.richText {
    line-height: 1.5;
    margin: 0;
}

.whitespace {
    white-space: pre-wrap;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.strikethrough {
    text-decoration: line-through;
}

.underline {
    text-decoration: underline;
}

.code {
    padding: 2px;
    border-radius: 5px;
    background-color: rgb(237, 237, 235);
    color: rgb(218, 97, 92);
}

.link {
    /* [ ]:リンクの見た目をわかりやすくする */
    word-break: break-all;
}