.grid {
    min-height: 100vh;
    display: grid;
    grid-template-rows: var(--grid-template-rows);
    grid-template-columns: var(--grid-template-columns);
    row-gap: 19px;
    column-gap: 12px;
}

.header {
    grid-row: 1/2;
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    background-color: var(--main-bg-color);
    padding: 12px;
    box-shadow: var(--shadow);
}

.main {
    grid-row: -3/-2;
    grid-column: 2/3;
    background-color: var(--main-bg-color);
    border-radius: 12px;
    padding: 12px;
    box-shadow: var(--shadow);
}

.onlyMain {
    grid-row: 2/-2;
    grid-column: 2/-2;
    background-color: var(--main-bg-color);
}

.rside {
    grid-row: 2/3;
    grid-column: -3/-2;
}

.rsideSticky {
    position: sticky;
    background-color: var(--main-bg-color);
    border-radius: 12px;
    padding: 12px;
    box-shadow: var(--shadow);
}

.footer {
    grid-row: -2/-1;
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    padding: 12px;
    background-color: var(--main-bg-color);
    box-shadow: var(--shadow);
}